# vscode
.vscode
.history

# ocaml
.merlin
*.byte
*.native
*.install
**/.merlin

# bsb
.bsb.lock
lib/
src/**/*.bs.js
src/**/*.gen.tsx
src/**/*.gen.ts
src/**/*.js.flow
include/**/*.js
__tests__/**/*.js

# esy
.cache/
_build
_esy
_release

# js
node_modules/
yarn-error.log
dist/
coverage/
public/